header {
  background: #fff;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 500;
}

nav ul li a:hover {
  color: var(--primary-color);
}