* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
  background-image: url(../public/static/bg.jpg);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-container {
  text-align: center;
  padding: 50px;
  background: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin: 50px auto;
  max-width: 500px;
}

.success-container h2 {
  color: var(--primary-color);
  margin-bottom: 20px;
}